# Deep Learning Frameworks
torch==2.7.0
torchvision==0.22.0
torchaudio==2.5.0
torchmetrics==1.4.1
torch-ema==0.3
tensorflow==2.14.0

# Computer Vision & Video
opencv-python==4.9.0.80
ffmpeg-python==0.2.0
decord==0.6.0
imageio==2.33.1
imageio-ffmpeg==0.5.1

# Data Science
matplotlib==3.8.0
seaborn==0.13.2
scikit-learn==1.3.2
pandas==2.2.1
numpy==1.25.2
scipy==1.12.0

# Training Utils
tqdm==4.66.2
einops==0.8.0
albumentations==1.4.0
kornia==0.7.3

# Transformers / NLP
transformers==4.31.0
huggingface-hub==0.32.2

# UI / Web
gradio==5.31.0
fastapi==0.115.12
uvicorn==0.30.1

# YOLOv8 or YOLOX (선택)
ultralytics==8.1.27
# yolox==0.3.0  # 대신 사용 시 위 ultralytics 주석 처리

# ByteTrack dependencies
ByteTrack
cython_bbox==0.1.5
lap==0.5.12
filterpy==1.4.5

# Tracking Utils
ffmpy==0.3.0
gdown==5.2.0
loguru==0.7.2

# Evaluation
bert-score==0.3.13

clip @ git+https://github.com/openai/CLIP.git
